.section--characters{
    position: relative;
}
.characteres__top{
    position: relative;
    
    border-radius: 20px;
    margin-bottom: 20px;
}
.characteres__count{
    color: var(--pink);
}
@media(min-width: 620px){
    .characters__actions{
        display: flex;
        justify-content: space-between;
    }
    .characteres__top{
        padding: 40px;
        background-color: var(--white);
        box-shadow: 0px 3px 10px 0 rgb(163 163 163 / 30%);   

    }
}